In [2]:
!pip install yfinance 
#using this code use can download data of stocks from yfinance

Requirement already satisfied: yfinance in c:\users\yuvra\anaconda3\lib\site-packages (0.2.40)
Requirement already satisfied: pandas>=1.3.0 in c:\users\yuvra\anaconda3\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\yuvra\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\yuvra\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\yuvra\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\yuvra\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\yuvra\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\yuvra\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\yuvra\anaconda3\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\yuvra\anaconda3\lib\site-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\yuvra\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\yuvra\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\yuvra\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\yuvra\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\yuvra\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yuvra\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\yuvra\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\yuvra\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yuvra\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\yuvra\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yuvra\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)

In [3]:
import yfinance as yf
import pandas as pd
import numpy as np

In [11]:
ticker = '^NSEBANK'

In [12]:
snp_prices = yf.download(ticker, start = '2021-01-01', end = '2024-08-20')

[*********************100%%**********************]  1 of 1 completed

In [13]:
snp_prices.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,31485.150391,31489.599609,30893.650391,31212.449219,31212.085938,0
2021-01-05,31041.099609,31767.650391,30935.550781,31722.250000,31721.880859,0
2021-01-06,31839.949219,31982.300781,31548.150391,31797.900391,31797.531250,0
2021-01-07,32129.800781,32177.400391,31911.500000,31956.000000,31955.628906,0
2021-01-08,32298.050781,32298.050781,32002.949219,32084.199219,32083.826172,0

In [14]:
snp_prices.describe()

,Open,High,Low,Close,Adj Close,Volume
count,891.000000,891.000000,891.000000,891.000000,891.000000,8.910000e+02
mean,40636.175110,40907.635443,40318.212211,40619.007142,40618.770783,2.343724e+06
std,5368.654250,5349.599715,5381.099580,5363.516524,5363.680084,6.039472e+07
min,29812.300781,30464.400391,29687.699219,30284.550781,30284.199219,0.000000e+00
25%,35902.298828,36227.375000,35540.000000,35838.175781,35837.757812,1.318000e+05
50%,40231.250000,40528.398438,39761.449219,40208.949219,40208.480469,1.734000e+05
75%,44564.824219,44670.849609,44267.000000,44495.724609,44495.724609,2.281000e+05
max,53357.699219,53357.699219,52815.898438,53103.699219,53103.699219,1.798102e+09

In [15]:
!pip install xlrd
!pip install xlwt
!pip install openpyxl

Requirement already satisfied: xlrd in c:\users\yuvra\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: xlwt in c:\users\yuvra\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: openpyxl in c:\users\yuvra\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\yuvra\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [16]:
snp_prices.to_csv('banknifty.csv') ## Change the name of csv file according to the ticker name